:root {
    --color-primary: #CB4210;
    --color-primary-hover: #AF390E;
    --color-text: #111;
    --color-bg: #F7F7F7;
}

/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.header__container {
    max-width: 1300px;
    margin-inline: auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__hamburger {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../assets/icons/menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.header__hamburger.active {
    background-image: url(../assets/icons/close.svg);
}

/* LOGO */
.header__logo a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}

.header__logo a:hover {
    color: var(--color-primary-hover);
}

/* NAVIGATION */
.header__left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.header__nav-item a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--color-text);
    transition: color 0.3s ease;
}

.header__nav-item a:hover {
    color: var(--color-primary);
}

.header__nav-item a::after,
.btn--primary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.header__nav-item a:hover::after,
.header__nav-item a:focus-visible::after {
    transform: scaleX(1);
}

.header__actions {
    display: flex;
    gap: 1.8rem;
}

/* BUTTONS */
.btn {
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.75rem 2rem;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.btn--primary:hover {
    background-color: var(--color-primary-hover);
}

.btn--login {
    color: var(--color-text);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.btn--login:hover {
    color: var(--color-primary);
}

.btn--signup {
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.btn--signup:hover {
    color: var(--color-primary-hover);
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
    text-align: center;
    position: relative;
}

.hero__inner {
    max-width: 700px;
    margin-top: 14rem;
    margin-bottom: 6rem;
}

.hero__title {
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 2.8rem;
}

.hero_title span {
    display: block;
    font-weight: 700;
}

.hero__image {
    max-width: 1400px;
    width: 100%;
}

.hero__image img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 890px) {
    .header__nav-list {
        display: none;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--color-bg);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 2rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .header__nav-list.active {
        display: flex;
    }

    .header__hamburger {
        display: block;
        margin-left: 2rem;
    }

    .header__actions {
        margin-left: auto;
        gap: 1rem;
    }

    .hero {
        height: auto;
        padding-top: 8rem;
        justify-content: flex-start;
    }
}

@media (max-width: 680px) {
    .header__logo a {
        font-size: 1.2rem;
    }

    .header__nav-item a {
        font-size: 0.8rem;
    }

    .header__actions {
        gap: 0.5rem;
    }

    .header__left {
        gap: 1rem;
    }

    .header__hamburger {
        margin-left: 1rem;
    }

    .btn--login,
    .btn--signup {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .hero {
        height: auto;
        padding-top: 0.5rem;
    }
}